/******************************
 Styles from ArtGallery plugin,
 in-lined here for performance
 ******************************/

.ag_gallery_widget img {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear; }
.ag_gallery_widget a:hover {
  text-decoration: none; }
  .ag_gallery_widget a:hover img {
    opacity: 0.6;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear; }

/*****************************
 Styles from Mailchimp widgets,
 in-lined here for performance
 *****************************/

#mc_embed_signup label {
    color:black;
    font-size:12px;
    font-weight:normal;}
#mc_embed_signup input.email {
    display: inline-block;
    font-size: 12px;}
#mc_embed_signup input.button {
    display: inline-block;
    margin-top: 4px;}
/* Custom */
#mc_embed_signup p {
    margin-bottom: 0;
}
.widget #mc_embed_signup form {
    padding: 5px 0;
}
