/*
Theme Name:     EmilyGarfield.com
Theme URI:      http://emilygarfield.com
Description:    Theme for A WEBSITE WITH A LOT OF MAPS!!!
Author:         K.Adam White
Author URI:     http://www.kadamwhite.com
Version:        0.1.0
*/
