dark-grey = #222;
mid-grey = #666;

$font-size-ratio = 1.25;
$font-size-sm = 16px;
$font-size-xs = $font-size-sm * (1 / $font-size-ratio);
$font-size-md = $font-size-sm * $font-size-ratio;
$font-size-lg = $font-size-md * $font-size-ratio;
$font-size-xl = $font-size-lg * $font-size-ratio;
$font-size-site-title = $font-size-xl * $font-size-ratio * $font-size-ratio;
