/* =Footer
----------------------------------------------- */

#colophon {
  clear: both;
}
#supplementary {
  border-top: 1px solid #ddd;
  padding: 1.625em 7.6%;
  overflow: hidden;
}

/* Two Footer Widget Areas */
#supplementary.two .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
  margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
  margin-right: 0;
}

/* Site Generator Line */
#site-generator {
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
}
#site-generator a {
  color: #555;
  font-weight: bold;
}
