/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
  display: none;
}
.singular .format-aside .entry-title {
  display: block;
}
.format-aside .entry-content {
  padding: 0;
}
.singular .format-aside .entry-content {
  padding: 1.625em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
  display: none;
}
.singular .format-link .entry-title {
  display: block;
}
.format-link .entry-content {
  padding: 0;
}
.singular .format-link .entry-content {
  padding: 1.625em 0 0;
}


/* =Gallery
----------------------------------------------- */

.format-gallery .gallery-thumb {
  float: left;
  display: block;
  margin: .375em 1.625em 0 0;
  max-width: 100%;
}


/* =Status
----------------------------------------------- */

.format-status .entry-title,
.format-status .entry-header .comments-link {
  display: none;
}
.singular .format-status .entry-title {
  display: block;
}
.format-status .entry-content {
  padding: 0;
}
.singular .format-status .entry-content {
  padding: 1.625em 0 0;
}
.format-status img.avatar {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  float: left;
  margin: 4px 10px 2px 0;
  padding: 0;
}

/* =Standard
----------------------------------------------- */

.format-standard .wp-video,
.format-standard .wp-audio-shortcode,
.format-audio .wp-audio-shortcode,
.format-standard .video-player {
  margin-bottom: 24px;
}

/* =Quote
----------------------------------------------- */

.format-quote blockquote {
  color: #555;
  font-size: 17px;
  margin: 0;
}


/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
  min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
  padding-top: 0.5em;
}
.indexed.format-image .entry-content p {
  margin: 1em 0;
}
.indexed.format-image .entry-content p:first-child,
.indexed.format-image .entry-content p:first-child a,
.indexed.format-image .entry-content p:first-child img {
  display: block;
  margin: 0;
}
.indexed.format-image .entry-content .wp-caption .wp-caption-text {
  margin: 0;
  padding-bottom: 1em;
}
.indexed.format-image footer.entry-meta {
  background: #ddd;
  overflow: hidden;
  padding: 4%;
  max-width: 96%;
}
.indexed.format-image div.entry-meta {
  display: inline-block;
  float: left;
  width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
  float: none;
  width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
  display: block;
}
.indexed.format-image footer.entry-meta a {
  color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
  color: #fff;
}
#content .indexed.format-image img {
  border: none;
  max-width: 100%;
  padding: 0;
}
.indexed.format-image .wp-caption {
  background: #111;
  margin-bottom: 0;
  max-width: 96%;
  padding: 2% 2% 0;
}
.indexed.format-image .wp-caption .wp-caption-text {
  color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
  color: #444;
}
.indexed.format-image a:hover img {
  opacity: 0.8;
}
