@import './_mixins';
@import './_variables';

/* =Header
----------------------------------------------- */

#branding {
  padding: 1.65625em 0;
  // On small screens, use more of the full width to make room for the title
  margin: -0.5em;
  +respond-above($sm-screen) {
    padding: 3.65625em 0;
    padding: 3.65625em 0;
    margin: 0;
  }
  position: relative;
  overflow: hidden;
  z-index: 100; // Why, though?
}
#site-title,
#site-description {
  text-align: center;
  +respond-above($md-screen) {
    text-align: left;
    width: 60%;
    float: left;
  }
}
#site-title a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  font-size: $font-size-lg;
  line-height: $font-size-lg;
  +respond-above($sm-screen) {
    font-size: $font-size-xl;
    line-height: $font-size-xl;
  }
  +respond-above($md-screen) {
    font-size: $font-size-site-title;
    line-height: $font-size-site-title;
  }

  &:hover,
  &:focus,
  &:active {
    color: #1982d1;
  }
}
#site-description {
  color: #7a7a7a;
  font-size: $font-size-sm;
}
#branding img {
  height: auto;
  display: block;
  width: 100%;
}

/* Search Form */
#branding #searchform {
  margin: 1em auto 0;
  text-align: center;
  +respond-above($md-screen) {
    margin-top: 0;
    text-align: right;
  }
}
#branding #s {
  transition-duration: 400ms;
  transition-property: width, background;
  transition-timing-function: ease;
  width: 72px;
}
#branding #s:focus {
  background-color: #f9f9f9;
  width: 196px;
}
#branding #searchsubmit {
  display: none;
}
#branding .only-search #searchform {
  top: 5px;
  z-index: 1;
}
#branding .only-search #s {
  background-color: mid-grey;
  border-color: black;
  color: dark-grey;
}
#branding .only-search #s,
#branding .only-search #s:focus {
  width: 85%;
}
#branding .only-search #s:focus {
  background-color: #bbb;
}
#branding .with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}
#branding .only-search + #access div {
  padding-right: 205px;
}
