/*
Theme Name:     EmilyGarfield.com
Theme URI:      http://emilygarfield.com
Description:    Theme for A WEBSITE WITH A LOT OF MAPS!!!
Author:         K.Adam White
Author URI:     http://www.kadamwhite.com
Version:        0.1.0
*/

// @require './_theme-header';
@require './helpers';
// @require './nav';

@require './reset';
@require './structure';
@require './global';
@require './menu';
@require './content';
