@require './_mixins';
@require './_variables';

/* =Structure
----------------------------------------------- */

body {
  +respond-above($lg-screen) { padding: 0 2em; }
}
#page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1em;
  +respond-above($md-screen) { padding: 0 2em; }
}

#secondary {
  +respond-above($md-screen) {
    float: left;
    width: 30%;
  }
  +respond-above($lg-screen) {
    width: 25%;
  }
  +respond-above($xl-screen) {
    width: 20%;
  }
}

footer {
  clear: both;
  margin: 0 -1em;
  padding-top: 1em;
  +respond-above($md-screen) { margin: 0 -2em; }
}

/******************************
 Styles for Header Widget Areas
 ******************************/

#front-page-widgets {
  padding: 0;
  overflow: hidden;
}
#front-page-left {
  margin-bottom: 2em;
  +respond-above($md-screen) {
    float: left;
    position: relative;
    width: 68%;
    margin-right: 2%;
    margin-bottom: 1em;
  }
  +respond-above($lg-screen) {
    width: 73%;
  }
}
#front-page-right {
  +respond-above($md-screen) {
    float: left;
    width: 30%;
    /* for statement */
    font-size: 95%;
  }
  +respond-above($lg-screen) {
    width: 25%;
  }
}
#front-page-bottom {
  clear: both;
  width: 100%;
}
#front-page-bottom .widget {
  margin: 0;
  +respond-above($md-screen) {
    clear: none;
    float: left;
    margin-right: 3.7%;
    width: 30.85%;
  }
}

#front-page-widgets .ag_gallery_widget {
  // Make space for the borders
  margin: -2px -2px 0.5em;
  position: relative;

  .widget-title {
    padding-left: 2px;
  }

  a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    +respond-above($sm-screen) { width: 33%; padding-bottom: 33%; }
    +respond-above($md-screen) { width: 31%; padding-bottom: 31%; }
    +respond-above($lg-screen) { width: 23%; padding-bottom: 23%; }

    img  {
      position: absolute;
      border: 2px solid white;
      width: 100%;
      height: 100%;
    }
  }

  +respond-below($sm-screen) {
    a:nth-of-type(7),
    a:nth-of-type(8)
    a:nth-of-type(9) {
      display: none;
    }
  }
  +respond-above($md-screen) {
    a:nth-of-type(9) {
      display: none;
    }
  }

  img,
  .artwork-thumbnail-meta {
    position: relative;
  }

  .artwork-thumbnail-meta {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition:         opacity 250ms linear;
    padding: 10px;
    background: rgba( 255, 255, 255, .6 );
    font-size: 100%;

    .entry-title {
      line-height: 1.5em;
      margin: 0 0 .5em 0;
      padding: 0;
      color: black;
      z-index: 1;
      font-size: $font-size-sm;
    }
  }

  .artwork-thumbnail:hover {
    img,
    .artwork-thumbnail-meta {
      opacity: 1;
    }
  }
}

/********************
 Homepage News header
 ********************/

.header-banner {
  background: #222;
  clear: both;
  display: block;
  margin: 1.625em -1em;
  padding: 1em;
  +respond-above($md-screen) {
    margin: 1.625em -2em;
    padding: 0.625em 2em;
  }
}
.header-banner h2 {
  font-size: $font-size-md;
  +respond-above($sm-screen) { font-size: $font-size-lg; }
  +respond-above($md-screen) { font-size: $font-size-xl; }
  font-weight: bold;
  color: white;
}
.header-banner h2 a {
  color: white;
}
