/* =Structure
----------------------------------------------- */

body {
  padding: 0 1em;
}
#page {
  margin: 2em auto;
  max-width: 1280px;
}
#branding hgroup {
  margin: 0 7.6%;
}
#access div {
  margin: 0 7.6%;
}
#primary {
  float: left;
  margin: 0 -26.4% 0 0;
  width: 100%;
}
#content {
  margin: 0 34% 0 7.6%;
  width: 58.4%;
}
#secondary {
  float: right;
  margin-right: 7.6%;
  width: 18.8%;
}

/* Singular */
.singular #primary {
  margin: 0;
}
.singular #content,
.left-sidebar.singular #content {
  margin: 0 7.6%;
  position: relative;
  width: auto;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
  margin: 0 auto;
  width: 68.9%;
}

/* Attachments */
.singular .image-attachment .entry-content {
  margin: 0 auto;
  width: auto;
}
.singular .image-attachment .entry-description {
  margin: 0 auto;
  width: 68.9%;
}

/* Showcase */
.page-template-showcase-php #primary,
.left-sidebar.page-template-showcase-php #primary {
  margin: 0;
}
.page-template-showcase-php #content,
.left-sidebar.page-template-showcase-php #content {
  margin: 0 7.6%;
  width: auto;
}
.page-template-showcase-php section.recent-posts {
  float: right;
  margin: 0 0 0 31%;
  width: 69%;
}
.page-template-showcase-php #main .widget-area {
  float: left;
  margin: 0 -22.15% 0 0;
  width: 22.15%;
}

/* error404 */
.error404 #primary {
  float: none;
  margin: 0;
}
.error404 #primary #content {
  margin: 0 7.6%;
  width: auto;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}
.left-sidebar #content {
  margin: 0 7.6% 0 34%;
  width: 58.4%;
}
.left-sidebar #secondary {
  float: left;
  margin-left: 7.6%;
  margin-right: 0;
  width: 18.8%;
}

/* One column */
.one-column #page {
  max-width: 690px;
}
.one-column #content {
  margin: 0 7.6%;
  width: auto;
}
.one-column #nav-below {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.625em;
}
.one-column #secondary {
  float: none;
  margin: 0 7.6%;
  width: auto;
}
/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
  float: none;
  margin: 0;
  width: 100%;
}
.one-column .page-template-showcase-php #main .widget-area {
  float: none;
  margin: 0;
  width: auto;
}
.one-column .page-template-showcase-php .other-recent-posts {
  border-bottom: 1px solid #ddd;
}
/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
  border: none;
  display: block;
  height: auto;
  max-width: 60%;
  position: static;
}
.one-column article.feature-image.small {
  margin: 0 0 1.625em;
  padding: 0;
}
.one-column article.feature-image.small .entry-title {
  font-size: 20px;
  line-height: 1.3em;
}
.one-column article.feature-image.small .entry-summary {
  height: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}
.one-column article.feature-image.small .entry-summary a {
  left: -9%;
}
/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
  width: 100%;
}
/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
  margin: 0 0 1.625em;
}
.one-column.singular .pull.alignleft {
  margin: 0 1.625em 0 0;
}
.one-column.singular .pull.alignright {
  margin: 0 0 0 1.625em;
}
.one-column.singular .entry-meta .edit-link a {
  position: absolute;
  left: 0;
  top: 40px;
}
.one-column.singular #author-info {
  margin: 2.2em -8.8% 0;
  padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
  margin-left: 102px;
  width: auto;
}
/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
  right: 40px;
  top: 4em;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
  margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
  margin-right: 85px;
}
.one-column .commentlist .avatar {
  background: transparent;
  display: block;
  padding: 0;
  top: 1.625em;
  left: auto;
  right: 1.625em;
}
.one-column .commentlist .children .avatar {
  background: none;
  padding: 0;
  position: absolute;
  top: 2.2em;
  left: 2.2em;
}
.one-column #respond {
  width: auto;
}

@media screen and (min-width: 600px) {
  body {
    padding: 0 2em;
  }
}
