@import './_mixins';

/* =Structure
----------------------------------------------- */

body {
  +respond-above($lg-screen) { padding: 0 2em; }
}
#page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1em;
  +respond-above($md-screen) { padding: 0 2em; }
}

#primary {
  +respond-above($md-screen) {
    float: left;
    width: 68%;
    margin-right: 2%;
  }
  +respond-above($lg-screen) {
    width: 73%;
  }
  +respond-above($xl-screen) {
    width: 79%;
    margin-right: 1%;
  }
}
#secondary {
  +respond-above($md-screen) {
    float: left;
    width: 30%;
  }
  +respond-above($lg-screen) {
    width: 25%;
  }
  +respond-above($xl-screen) {
    width: 20%;
  }
}

footer {
  clear: both;
  margin: 0 -1em;
  padding-top: 1em;
  +respond-above($md-screen) { margin: 0 -2em; }
}

/******************************
 Styles for Header Widget Areas
 ******************************/

#front-page-widgets {
  padding: 0;
  overflow: hidden;
}
#front-page-widgets .widget-title {
  font-size: 14px;
}
#front-page-left {
  margin-bottom: 2em;
  +respond-above($md-screen) {
    float: left;
    position: relative;
    width: 68%;
    margin-right: 2%;
    margin-bottom: 1em;
  }
  +respond-above($lg-screen) {
    width: 73%;
  }
}
#front-page-right {
  +respond-above($md-screen) {
    float: left;
    width: 30%;
    /* for statement */
    font-size: 95%;
  }
  +respond-above($lg-screen) {
    width: 25%;
  }
}
#front-page-bottom {
  clear: both;
  width: 100%;
}
#front-page-bottom .widget {
  margin: 0;
  +respond-above($md-screen) {
    clear: none;
    float: left;
    margin-right: 3.7%;
    width: 30.85%;
  }
}

#front-page-widgets .ag_gallery_widget {
  // Make space for the borders
  margin: -2px -2px 0.5em;
  position: relative;

  .widget-title {
    padding-left: 2px;
  }

  a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    +respond-above($sm-screen) { width: 33%; padding-bottom: 33%; }
    +respond-above($md-screen) { width: 31%; padding-bottom: 31%; }
    +respond-above($lg-screen) { width: 23%; padding-bottom: 23%; }

    img  {
      position: absolute;
      border: 2px solid white;
      width: 100%;
      height: 100%;
    }
  }

  +respond-between($md-screen, $lg-screen) {
    a:nth-of-type(10),
    a:nth-of-type(11)
    a:nth-of-type(12) {
      display: none;
    }
  }
}

/********************
 Homepage News header
 ********************/

#home-news-banner {
  background: #222;
  clear: both;
  display: block;
  margin: 1.625em -1em;
  padding: 0.625em 1em;
  +respond-above($md-screen) {
    margin: 1.625em -2em;
    padding: 0.625em 2em;
  }
}
#home-news-banner h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#home-news-banner h2 a {
  color: white;
}

/* Singular */
.singular #primary {
  margin: 0;
}
.singular #content,
.left-sidebar.singular #content {
  position: relative;
  width: auto;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
  margin: 0 auto;
  width: 68.9%;
}

/* Attachments */
.singular .image-attachment .entry-content {
  margin: 0 auto;
  width: auto;
}
.singular .image-attachment .entry-description {
  margin: 0 auto;
  width: 68.9%;
}

/* Showcase */
.page-template-showcase-php #primary,
.left-sidebar.page-template-showcase-php #primary {
  margin: 0;
}
.page-template-showcase-php #content,
.left-sidebar.page-template-showcase-php #content {
  width: auto;
}
.page-template-showcase-php section.recent-posts {
  float: right;
  margin: 0 0 0 31%;
  width: 69%;
}
.page-template-showcase-php #main .widget-area {
  float: left;
  margin: 0 -22.15% 0 0;
  width: 22.15%;
}

/* error404 */
.error404 #primary {
  float: none;
  margin: 0;
}
.error404 #primary #content {
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}
.left-sidebar #content {
  margin: 0 0 0 34%;
  width: 58.4%;
}
.left-sidebar #secondary {
  float: left;
  margin-right: 0;
  width: 18.8%;
}

/* One column */
.one-column #page {
  max-width: 690px;
}
.one-column #content {
  width: auto;
}
.one-column #nav-below {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.625em;
}
.one-column #secondary {
  float: none;
  width: auto;
}
/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
  float: none;
  margin: 0;
  width: 100%;
}
.one-column .page-template-showcase-php #main .widget-area {
  float: none;
  margin: 0;
  width: auto;
}
.one-column .page-template-showcase-php .other-recent-posts {
  border-bottom: 1px solid #ddd;
}
/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
  border: none;
  display: block;
  height: auto;
  max-width: 60%;
  position: static;
}
.one-column article.feature-image.small {
  margin: 0 0 1.625em;
  padding: 0;
}
.one-column article.feature-image.small .entry-title {
  font-size: 20px;
  line-height: 1.3em;
}
.one-column article.feature-image.small .entry-summary {
  height: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}
.one-column article.feature-image.small .entry-summary a {
  left: -9%;
}
/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
  width: 100%;
}
/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
  margin: 0 0 1.625em;
}
.one-column.singular .pull.alignleft {
  margin: 0 1.625em 0 0;
}
.one-column.singular .pull.alignright {
  margin: 0 0 0 1.625em;
}
.one-column.singular .entry-meta .edit-link a {
  position: absolute;
  left: 0;
  top: 40px;
}
.one-column.singular #author-info {
  margin: 2.2em -8.8% 0;
  padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
  margin-left: 102px;
  width: auto;
}
/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
  right: 40px;
  top: 4em;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
  margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
  margin-right: 85px;
}
.one-column .commentlist .avatar {
  background: transparent;
  display: block;
  padding: 0;
  top: 1.625em;
  left: auto;
  right: 1.625em;
}
.one-column .commentlist .children .avatar {
  background: none;
  padding: 0;
  position: absolute;
  top: 2.2em;
  left: 2.2em;
}
.one-column #respond {
  width: auto;
}
