*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.orig

# Composer & npm
vendor/
node_modules/
package-lock.json

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# Sometimes-used temporary images backup directory
wp-content/backups/

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql
.htaccess

# Development plugins
wp-content/plugins/api-testbed
wp-content/plugins/block-unit-test
wp-content/plugins/blogger-importer
wp-content/plugins/debug-bar
wp-content/plugins/debug-bar-actions-and-filters-addon
wp-content/plugins/debug-bar-list-dependencies
wp-content/plugins/gutenberg
wp-content/plugins/regenerate-thumbnails
wp-content/plugins/rewrite-rules-inspector
wp-content/plugins/wordpress-beta-tester
wp-content/plugins/wordpress-importer

# Non-essential plugins
wp-content/plugins/post-thumbnail-editor
wp-content/plugins/category-posts
wp-content/plugins/google-analytics-for-wordpress
wp-content/plugins/smarter-navigation
wp-content/plugins/jetpack
wp-content/plugins/safe-redirect-manager
wp-content/plugins/hw-image-widget
wp-content/plugins/image-widget
wp-content/themes/twentyseventeen
wp-content/plugins/public-post-preview

# WIP plugins: add as submodules once stable
wp-content/plugins/artgallery

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
# Including twentyeleven because that is our parent theme
# /wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentynineteen
/wp-content/themes/index.php
/wp-content/plugins/index.php
# Plugins that are not strictly functionality-oriented
/wp-content/plugins/akismet

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
