/*
Theme Name:     EmilyGarfield.com
Theme URI:      http://emilygarfield.com
Description:    Child theme for the Twenty Eleven theme
Author:         K.Adam White
Author URI:     http://www.kadamwhite.com
Template:       twentyeleven
Version:        0.1.0
*/

.artwork-thumbnail,
.artwork-thumbnail-meta {
    -moz-box-sizing: border-box;
    box-sizing:      border-box;
}

.artwork-thumbnail {
    position: relative;
    display: inline-block;
    width: 24%;
}
@media (max-width: 650px) {
    .artwork-thumbnail {
        width: 32%;
    }
}

.artwork-thumbnail .artwork-thumbnail-meta {
    height: 100%;
    width: 100%;
}
.artwork-thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

.artwork-thumbnail-meta {
    background: rgba( 255, 255, 255, .6 );
    background: url('images/60-percent-white.png')\9;
    padding: 10px 5px;
    position: absolute;
    top: 0;
    z-index: 1;

    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    transition:         opacity 300ms linear;
    /* Hide in IE8 and below */
    display: none\9;
}

.artwork-thumbnail:hover .artwork-thumbnail-meta {
    opacity: 1;
    -webkit-transition: opacity 250ms linear;
    transition:         opacity 250ms linear;
    /* Show in IE8 and below */
    display: block\9;
}

.artwork-thumbnail-meta h2 {
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 0 .5em 0;
    padding: 0;
}

.video .artwork-thumbnail-meta {
    background-image: url('images/filmstrip.png');
    background-position: 90% 90%;
    background-repeat: no-repeat;
    /* No fancy icons for IE lte 8, bwahaha! */
    background: url('images/60-percent-white.png') repeat\9;
}


/**************************************
 Overrides for Parent Theme's style.css
 **************************************/

#site-title {
    padding-top: 2.65625em;
}

#site-description {
    margin-bottom: 2.65625em;
}

#branding #searchform {
    top: 2.8em;
}
/******************************
 Styles for Header Widget Areas
 ******************************/

#front-page-widgets {
    padding: 0 7.6%;
    overflow: hidden;
}
#front-page-widgets .widget-title {
    font-size: 12px;
}
#front-page-left {
    float: left;
    margin-right: 2.84%;
    position: relative;
    width: 75%;
}
#front-page-right {
    float: left;
    width: 22.16%;
    /* for statement */
    font-size: 95%;
}
#front-page-bottom {
    clear: both;
    width: 100%;
}
#front-page-bottom .widget {
    clear: none;
    float: left;
    margin-right: 3.7%;
    width: 30.85%;
}
@media (max-width: 800px) {
    #front-page-widgets .widget-area {
        float: none;
        margin: 0;
        width: auto;
    }
}

#front-page-widgets .ag_gallery_widget {
    margin-bottom: 0.5em;
}
#front-page-widgets .ag_gallery_widget img {
    width: 24%;
}
@media (max-width: 650px) {
    #front-page-widgets .ag_gallery_widget img {
        width: 32%;
    }
}
@media (max-width: 450px) {
    #front-page-widgets .ag_gallery_widget img {
        width: 49%;
    }
}

/********************
 Homepage News header
 ********************/

#home-news-banner {
    /* Styles cribbed from twentyeleven's #access element */
    background: #222; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
    background: -webkit-linear-gradient(#252525, #0a0a0a);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    clear: both;
    display: block;
    float: left;
    width: 84.8%;
    /* Position correctly */
    margin: 1.625em auto;
    padding: 0.625em 7.6%;
}
#home-news-banner h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/******************************
 Styles from ArtGallery plugin,
 in-lined here for performance
 ******************************/

.ag_gallery_widget img {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear; }
.ag_gallery_widget a:hover {
  text-decoration: none; }
  .ag_gallery_widget a:hover img {
    opacity: 0.6;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear; }

/*****************************
 Styles from Mailchimp widgets,
 in-lined here for performance
 *****************************/

 #mc_embed_signup label {
    color:black;
    font-size:12px;
    font-weight:normal;}
#mc_embed_signup input.email {
    display: inline-block;
    font-size: 12px;}
#mc_embed_signup input.button {
    display: inline-block;
    margin-top: 4px;}

/************************
 Overrides for the sizing
 of Gallery widget images
 ************************/

#secondary .ag_gallery_widget img {
    width: 60px;
    height: 60px;
}
