.wp-block-columns-style-preview {
	position: relative;

	.is-style-small-large {
		&::before {
			content: ' ';
			display: inline-block;
			width: 66%;
			height: 100%;
			border: 1px solid black;
		}
		&::after {
			content: ' ';
			display: inline-block;
			width: 33%;
			height: 100%;
			border: 1px solid black;
		}
	}
}
