header {
	// Visually reverse header & nav
	display: flex;
	flex-direction: column-reverse;
}

.site-branding {
	text-align: center;
}

@include respond-above(sm) {
	body {
		background: $color__background;
	}


	.site-branding {
		text-align: left;
		@include cap-block-width;
		border-left: 1px solid $color__border;
		border-right: 1px solid $color__border;
	}

	.site-content {
		@include cap-block-width;
		border-left: 1px solid $color__border;
		border-right: 1px solid $color__border;
	}

	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
		width: $size__site-main;
	}

	.site-main {
		margin: 0 $size__site-sidebar 0 0;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}

}

@import "no-sidebar";
