.has-small-font-size {
	font-size: $small-font-size / 16;
}

.has-regular-font-size {
	font-size: $regular-font-size / 16;
}

.has-large-font-size {
	font-size: $large-font-size / 16;
}

.has-larger-font-size {
	font-size: $larger-font-size / 16;
}

// For editor
.wp-block-columns.has-2-columns{
	&.is-style-large-small {
		// For editor
		@include respond-above( $menu-size-cutoff ) {
			[data-type="core/column"]:first-child { flex-basis: 62.5%; }
			[data-type="core/column"]:last-child { flex-basis: 37.5%; }
		}
		// For frontend
		@include respond-above( $menu-size-cutoff ) {
			.wp-block-column:first-child { width: calc(62.5% - .5em); }
			.wp-block-column:last-child { width: calc(37.5% - .5em); }
		}
	}

	&.is-style-small-large {
		// For editor
		@include respond-above( $menu-size-cutoff ) {
			[data-type="core/column"]:first-child { flex-basis: 37.5%; }
			[data-type="core/column"]:last-child { flex-basis: 62.5%; }
		}
		// For frontend
		@include respond-above( $menu-size-cutoff ) {
			.wp-block-column:first-child { width: calc(37.5% - .5em); }
			.wp-block-column:last-child { width: calc(62.5% - .5em); }
		}
	}
}

h1, h2, h3 {
	&.is-style-dark {
		position: relative;
		color: white;
		padding: 0.5em 1.5rem;

		&::before {
			content: ' ';
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: $font-color-global;
			z-index: -1;
		}

		&.alignwide {
			@include respond-above( $content-width ) {
				padding: 0.5 1rem;
				&::before {
					left: calc( ( -100% - #{ $content-width } ) / 2 );
					right: calc( ( -100% - #{ $content-width } ) / 2 );
				}
			}
			@include respond-above( $content-width + 48px /* 3rem */ ) {
				padding: 0.5em 0;
				&::before {
					left: -1.5rem;
					right: -1.5rem;
				}
			}
		}

		&.alignfull {
			width: 100%;

			&::before {
				content: ' ';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.wp-block-columns {
	&.alignwide {
		@include respond-above( $content-width ) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		@include respond-above( $content-width + 48px /* 3rem */ ) {
			padding-right: unset;
			padding-left: unset;
		}
	}
	&.alignfull {
		padding: 0 1.5rem;
	}
}
