// Colors
// =================================================
$font-color-global: #333;
$font-color-deemphasized: #707070;
$font-color-header: #32373c;
$font-color-link: #1982d1;
$background-color: #fff;

// Typography
// =================================================
$font-family-global: Futura, "Century Gothic", AppleGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-pre: "Courier 10 Pitch", Courier, monospace;
$font-family-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-family-highlight: "Roboto Condensed", sans-serif;

$global-font-size: 16px;
$global-font-line-height: 1.4;
$dropdown-symbol-width: 0.7em;
$small-font-size: 16px;
$regular-font-size: 20px;
$large-font-size: 36px;
$larger-font-size: 48px;

// Responsive Breakpoints
// =================================================
// Sizes are defined in px to make respond-below and respond-between predictable.
$narrow-single-column: 28 * $global-font-size; // 28rem, 450px
$menu-size-cutoff: 37.5 * $global-font-size; // 37.5rem, 600px
$content-width: 45 * $global-font-size; // 45rem, 720px
$wide-content-width: calc( 50% + #{ $content-width } / 2 ); // .alignwide
$sidebar-width: 65 * $global-font-size; // ~65rem, 1040px

// Responsive Mixins
// =================================================

@mixin respond-above( $breakpoint ) {
	@media screen and ( min-width: $breakpoint ) {
		@content;
	}
}

// Prefer pixel dimensions when using these two mixins: if we used
// ems, there would be a 1em gap between the top of respond-below and
// the bottom of respond-above for any em value. Using px avoids this.
@mixin respond-below( $breakpoint ) {
	@media screen and ( max-width: ( $breakpoint - 1 ) ) {
		@content;
	}
}

@mixin respond-between( $breakpoint1, $breakpoint2 ) {
	@media screen and ( min-width: $breakpoint1 ) and ( max-width: ( $breakpoint2 - 1 ) ) {
		@content;
	}
}
