.has-small-font-size {
	font-size: $small-font-size / 16;
}

.has-regular-font-size {
	font-size: $regular-font-size / 16;
}

.has-large-font-size {
	font-size: $large-font-size / 16;
}

.has-larger-font-size {
	font-size: $larger-font-size / 16;
}

// For editor
.wp-block-columns.has-2-columns{
	&.is-style-large-small {
		// For editor
		@include respond-above( 600px ) {
			[data-type="core/column"]:first-child { flex-basis: 37.5%; }
			[data-type="core/column"]:last-child { flex-basis: 62.5%; }
		}
		// For frontend
		@include respond-above( $menu-size-cutoff ) {
			.wp-block-column:first-child { width: calc(62.5% - .5em); }
			.wp-block-column:last-child { width: calc(37.5% - .5em); }
		}
	}

	&.is-style-small-large {
		// For editor
		@include respond-above( 600px ) {
			[data-type="core/column"]:first-child { flex-basis: 62.5%; }
			[data-type="core/column"]:last-child { flex-basis: 37.5%; }
		}
		// For frontend
		@include respond-above( $menu-size-cutoff ) {
			.wp-block-column:first-child { width: calc(37.5% - .5em); }
			.wp-block-column:last-child { width: calc(62.5% - .5em); }
		}
	}
}

h1, h2, h3 {
	&.is-style-dark {
		position: relative;
		color: white;
		padding: 0.5em 0;

		&::before {
			content: ' ';
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			left: -1em;
			right: -1em;
			background: $font-color-global;
			z-index: -1;
		}

		&.alignfull {
			width: 100%;
			padding: 0.5em 1.5rem;

			&::before {
				content: ' ';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.wp-block-columns.alignfull {
	padding: 0 1.5rem;
}
