@import './variables.scss';
/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */
 body.gutenberg-editor-page .editor-writing-flow {
	color: $global-font-color;
	font-family: $global-font-family;
	font-size: $global-font-size / 16;
	line-height: $global-font-line-height;
}

body.gutenberg-editor-page .editor-post-title .editor-post-title__input,
body.gutenberg-editor-page .editor-writing-flow h1,
body.gutenberg-editor-page .editor-writing-flow h2,
body.gutenberg-editor-page .editor-writing-flow h3,
body.gutenberg-editor-page .editor-writing-flow h4,
body.gutenberg-editor-page .editor-writing-flow h5,
body.gutenberg-editor-page .editor-writing-flow h6,
body.gutenberg-editor-page .edit-post-visual-editor p {
	font-family: $highlight-font-family;
	color: #32373c;
	clear: both;
}

body.gutenberg-editor-page .editor-post-title .editor-post-title__input {
	font-size: 2rem;
	line-height: 1.4;
}

body.gutenberg-editor-page .edit-post-visual-editor p {
	font-family: $global-font-family;
	font-size: $global-font-size / 16;

}

body.gutenberg-editor-page .wp-block-cover-image .wp-block-cover-image-text,
body.gutenberg-editor-page .wp-block-cover-image .wp-block-cover-image h2 {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
}

.editor-block-list__block ol.wp-block-latest-comments,
.editor-block-list__block ul.wp-block-latest-posts {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

.editor-block-list__block ol.wp-block-latest-comments {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

/* Visualize editor font sizes (defined in functions.php). */

.has-small-font-size {
	font-size: $small-font-size / 16;
}

.has-regular-font-size {
	font-size: $regular-font-size / 16;
}

.has-large-font-size {
	font-size: $large-font-size / 16;
}

.has-larger-font-size {
	font-size: $larger-font-size / 16;
}
