@import 'variables';
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;
	font-family: $highlight-font-family;
}

@include respond-above( $sidebar-width ) {
	.primary-sidebar {
		padding: 0;
	}
}
