/*
Main theme stylesheet.
See style.css in project root for theme info & licensing details.
*/

@import 'variables';

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Layout
# Typography
# Elements
# Forms
# Header
# Navigation
# Content
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import 'normalize';

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
  margin: 0 auto;
  max-width: 100%;
}

@include respond-above( $sidebar-width ) {
	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header {
		grid-column: span 2;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer {
		grid-column: span 2;
	}
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $font-color-global;
	font-family: $font-family-global;
	font-size: $global-font-size / 16;
	line-height: $global-font-line-height;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-highlight;
	color: $font-color-header;
	clear: both;
}

.entry-header h1.entry-title {
	font-size: 2rem;
	line-height: 1.4;
	margin: 1em 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: $font-family-pre;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-family-code;
	font-size: 12.8px;
	font-size: .8em;
}

abbr, acronym {
	border-bottom: 1px dotted $font-color-deemphasized;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: $font-color-link;
	text-decoration: none;
}

a:visited {
	color: adjust-hue( lighten( $font-color-link, 10% ), 10% );
}

a:hover, a:focus, a:active {
	color: darken( $font-color-link, 20% );
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $background-color;
	/* Fallback for when there is no custom background color defined. */ }

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

figure {
	/* Extra wide images within figure tags don't overflow the content area. */
	margin: .5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	padding-bottom: 0;

	@include respond-above( $menu-size-cutoff ) {
		padding-bottom: 0;
		display: flex;
		flex-direction: column-reverse;
	}
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
}

.site-branding {
	text-align: center;
	@include respond-above( $narrow-single-column ) {
		padding: 30px 0 1.75em;
	}
	@include respond-above( $menu-size-cutoff ) {
		padding-top: 0;
	}
}

.site-title {
	font-family: $font-family-highlight;
	font-size: $large-font-size;
	font-weight: bold;
	line-height: 1.2;
	color: #333332;
	@include respond-above( $narrow-single-column ) {
		margin: 0 1em;
		font-size: $large-font-size;
	}
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: .4375em 0 0;
	font-family: $font-family-highlight;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import 'navigation';

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import 'content';

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin: 1em 0 0;
	padding: 2em 0;
	font-family: $font-family-highlight;
}

.site-info {
	text-align: center;
}
