@import 'variables';

@include respond-between( $narrow-single-column, $menu-size-cutoff ) {
	.wp-block-columns.has-2-columns .featured-items-list__category-list,
	.wp-block-columns.has-3-columns .featured-items-list__category-list,
	.wp-block-columns.has-4-columns .featured-items-list__category-list {
		width: calc(50% - .5em);
	}
	.wp-block-columns.has-3-columns .featured-items-list__category-list:first-child {
		width: 100%;
	}
}

.featured-items-list__item {
	display: flex;
	flex-direction: column;
	align-items: justify;
	margin-bottom: 1rem;
}

.featured-items-list__category-list {
	.featured-category-title {
		margin-bottom: 0.5em;
		@include respond-above( $narrow-single-column ) {
			line-height: 1.2;
			min-height: 2.4em;
		}
	}

	.featured-image {
		order: 1;
		margin-bottom: 0.5em;
	}

	.entry-title {
		order: 2;
		@extend h3 !optional;
		line-height: 1.2;
		display: block;
		padding-right: 1em;
	}

	p {
		order: 3;
		margin: 0.25em 0;
		padding-right: 1em;
	}

	.entry-meta {
		order: 3;
		font-style: italic;
		color: $font-color-deemphasized;
	}
}
